html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
}

main {
  flex: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}
